language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"

before_install:
  - git fetch --unshallow
install:
  - travis_retry pip install pybuilder coveralls
  - travis_retry pyb install_dependencies

env:
  PYTHONIOENCODING=UTF-8

script:
    - pyb -v

after_success:
  - coveralls --verbose

